* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 100%;
  height: 900px;
  background: linear-gradient(rgba(199,220,229,1), rgba(181,204,217,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.v1_75 {
  width: 19px;
  height: 800px;
  background: url("../images/v1_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 36px;
  overflow: hidden;
}
.v1_58 {
  width: 19px;
  color: rgba(74,172,230,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v102_5 {
  width: 870px;
  height: 86px;
  background: url("../images/v102_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 141px;
  overflow: hidden;
}
.v102_6 {
  width: 870px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v105_8 {
  width: 652px;
  height: 86px;
  background: url("../images/v105_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 141px;
  overflow: hidden;
}

.v105_9 {
  width: 652px;
  height: 170px; /* Increased height */
  color: rgba(14,15,45,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 96px;
  line-height: 90px; /* Adjusted line height */
  opacity: 1;
  text-align: left;
}
.v102_9 {
  width: 931px;
  height: 258px;
  background: url("../images/v102_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 141px;
  overflow: hidden;
}
.v102_10 {
  width: 931px;
  color: rgba(52,201,234,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_59 {
  width: 721px;
  height: 106px;
  background: url("../images/v1_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 425px;
  overflow: hidden;
}
.v1_60 {
  width: 721px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_61 {
  width: 861px;
  height: 77px;
  background: url("../images/v1_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 340px;
  border: 3px solid rgba(255,255,255,1);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v103_3 {
  width: 100%;
  color: rgba(74,172,230,1);
  position: absolute;
  top: 808px;
  left: 500px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v103_5 {
  width: 476px;
  height: 501px;
  background: url("../images/v103_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 950px; /* Increased left value to move the element to the right */
  overflow: hidden;
}
.v104_7 {
  width: 552px;
  color: rgba(34,44,46,1);
  position: absolute;
  top: 768px;
  left: 649px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.invisible-button {
  width: 861px;
  height: 77px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}